@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: VAL;
  src: url("../assets/VAL.otf") format("opentype");
}

.banner {
  background-image: url("../public/stanley-dai-ovanKMhLYec-unsplash.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(40%);
}
.val {
  font-family: 'VAL';
}

.launch-title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
